*.css
*.js
*.min.css
*.min.js
.DS_Store
.buildpath
.idea
.project
.settings
/.vagrant
/bin/dep
/config/components/db/password.php
/config/components/web/request--cookie.php
/coverage.serialized
/data/licenses
/messages/*/*.mo
/models/Migration.php
/node_modules
/phpunit.xml
/resources/css/_bootstrap-icons.scss
/tests/_output/*
/tests/_support/_generated
/vendor
/web/coverage
/web/favicon
/web/favicon.ico
Thumbs.db
composer.phar
nbproject
phpunit.phar
