*.min.css
*.min.js
.DS_Store
.buildpath
.idea
.project
.settings
/.vagrant
/bin/dep
/config/components/db/password.php
/config/components/web/request--cookie.php
/coverage.serialized
/models/Migration.php
/node_modules
/phpunit.xml
/tests/_output/*
/tests/_support/_generated
/vendor
/web/coverage
Thumbs.db
composer.phar
nbproject
phpunit.phar
