includes:
  - vendor/proget-hq/phpstan-yii2/extension.neon

parameters:
  level: max
  ignoreErrors:
    - identifier: missingType.iterableValue

  paths:
    - ./

  excludePaths:
    - data
    - deploy.php
    - node_modules
    - runtime
    - tests
    - vendor

  scanFiles:
    - vendor/yiisoft/yii2/Yii.php

  yii2:
    config_path: %rootDir%/../../../config/web.php

  dynamicConstantNames:
    - YII_DEBUG
    - YII_ENV
    - YII_ENV_DEV
    - YII_ENV_PROD
    - YII_ENV_TEST

  tmpDir: runtime/phpstan
