parameters:
	ignoreErrors:
		-
			message: '#^Method app\\controllers\\ApiController\:\:actions\(\) return type with generic class yii\\base\\Action does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: controllers/ApiController.php

		-
			message: '#^Method app\\controllers\\LicenseController\:\:actions\(\) return type with generic class yii\\base\\Action does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: controllers/LicenseController.php

		-
			message: '#^Method app\\controllers\\SiteController\:\:actions\(\) return type with generic class yii\\base\\Action does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: controllers/SiteController.php
