parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$packages of method app\\commands\\LicenseController\:\:extractPackages\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: commands/LicenseController.php

		-
			message: '#^Binary operation "\." between mixed and "\\n" results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: commands/UpdateController.php

		-
			message: '#^Method app\\controllers\\ApiController\:\:actions\(\) return type with generic class yii\\base\\Action does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: controllers/ApiController.php

		-
			message: '#^Method app\\controllers\\LicenseController\:\:actions\(\) return type with generic class yii\\base\\Action does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: controllers/LicenseController.php

		-
			message: '#^Method app\\controllers\\SiteController\:\:actions\(\) return type with generic class yii\\base\\Action does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: controllers/SiteController.php

		-
			message: '#^Binary operation "\." between mixed and ''\\\\'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: gii/model/Generator.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 3
			path: gii/model/Generator.php

		-
			message: '#^Binary operation "\." between mixed and string results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: helpers/DownloadFormatter.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: helpers/DownloadFormatter.php

		-
			message: '#^Parameter \#1 \(mixed\) of echo cannot be converted to string\.$#'
			identifier: echo.nonString
			count: 1
			path: views/gii/model/model.php
