name: 'CD'

on:
  workflow_run:
    workflows:
      - 'CI'
    push:
    types:
      - 'completed'

jobs:
  deploy:
    name: 'Deploy the app'

    runs-on: 'ubuntu-20.04'

    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    env:
      LANG: 'C'

    steps:
      - uses: 'actions/checkout@v2'
        with:
          fetch-depth: 0

      - name: 'Set up SSH key'
        env:
          PRIVATE_KEY: '${{ secrets.ACTIONS_DEPLOY_PRIVATE_KEY_ED25519 }}'
          KNOWN_HOSTS: '${{ secrets.KNOWN_HOSTS_AYANAMI }}'
        run: |
          mkdir -p ~/.ssh

          echo "$PRIVATE_KEY" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

          echo "$KNOWN_HOSTS" >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts

          chmod 700 ~/.ssh

      - uses: 'actions/cache@v2'
        with:
          path: |
            ~/.cache/composer/files
            vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('composer.lock') }}

      - name: 'Set up PHP version 8.0'
        run: |
          sudo update-alternatives --set php /usr/bin/php8.0

      - name: 'Check version tag'
        run: |
          COMMIT_REVISION=$(git log -n 1 --pretty='format:%H')
          echo "Current Revision: $COMMIT_REVISION"

          if ! [[ $COMMIT_REVISION =~ ^[0-9a-f]+$ ]]; then
            echo "Failed to get commit revision"
            exit 1
          fi

          CURRENT_VERSION=$(git tag --points-at=$COMMIT_REVISION | grep '^v[0-9]' | sort -r --version-sort | head -n 1)
          echo "Current Version: $CURRENT_VERSION"

          if [ -z "$CURRENT_VERSION" ]; then
            echo "This is not a release commit. exit."
            exit 0
          fi

          echo "RELEASE_VERSION=$CURRENT_VERSION" >> $GITHUB_ENV

      - name: 'Deploy'
        if: ${{ env.RELEASE_VERSION != '' }}
        run: |
          vendor/bin/dep deploy -o git_tty=false --tag=${{ env.RELEASE_VERSION }} -- production
